<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>尾栈</title>
    <link rel="stylesheet" type="text/css" href="../../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/aui.2.0.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/icons.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-table.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../../css/outBound.css">
    <style>
        body {
            background-color: rgb(245, 245, 245);
        }

        #easyLayout {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100vh;
        }

        .dataIsNone {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(139, 134, 130);
        }

        .operation-right-content-left-lw{
          width: 90%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
    </style>
</head>

<body>
    <div id="easyLayout">
        <!-- 选择作业目标工位 -->
        <div class="shipment-easyLayout shipment-easyLayout-active" id="shipment-easyLayout1">
            <div style="width:100%;height:100%;display:flex;">
                <div class="selectLocation-left">
                    <div class="selectLocation-left-top">
                        <div class="selectLocation-left-top-right">
                            <p>绑箱数量:</p>
                            <div style="margin-left:10px">{{readyTodoNum}}</div>
                        </div>
                    </div>
                    <table class="selectLocation-left-bottom" id="bootstrap-tab" style="table-layout: fixed;"></table>
                </div>
                <div class="selectLocation-divider"></div>
                <div class="selectLocation-right">
                    <div class="selectLocation-right-top">选择任务</div>
                    <table id="bootstrap-tab-1" class="selectLocation-right-table"></table>
                </div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab aui-row" v-if="itemShow == 1">
            <div class="aui-btn aui-col-xs-12 aui-btn-success" @click="submit">开始作业</div>
        </footer>


        <!-- 绑定周转箱和小推车之间的关系 -->
        <div class="shipment-easyLayout" id="shipment-easyLayout2">
            <div style="display:flex;">
                <div class="tiedBox-left">
                    <img class="tiedBox-left-img" src="../../../image/u217.svg">
                    <div v-for="(item,index) in packTaskJSONObject" :key="index" class="tiedBox-left-box" :class="{'passBoxNum':packTaskJSONObject.length <= 4,
          'passBoxNum-0':packTaskJSONObject.length >4,
          'color-3':item.isBind == 0,'color-2':item.isBind == 1}">
                        {{item.destination}}
                    </div>
                </div>
                <div class="tiedBox-divider"></div>
                <div class="tiedBox-right">
                    <form class="aui-content aui-margin-b-10 aui-margin-t-10">
                        <ul class="aui-list aui-form-list">
                            <li class="aui-list-item" style="margin:.5rem 0">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-label">托盘编码:</div>
                                    <div class="aui-list-item-input">
                                        <input type="text" @keyup.enter="scanningTrolley" id="PassBoxId" v-model="scanBoxCode" placeholder="扫描托盘">
                                    </div>
                                </div>
                            </li>
                            <li class="aui-list-item" style="display:none">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-label">神奇的BUG</div>
                                    <div class="aui-list-item-input">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <table id="bootstrap-tab-2"></table>
                </div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab aui-row" v-if="itemShow == 2">
            <div class="aui-btn aui-col-xs-12 aui-btn-success" @click="submit">提交</div>
        </footer>

        <!-- 拣货作业 -->
        <div class="shipment-easyLayout" id="shipment-easyLayout3">
            <div style="display:flex;">
                <div class="operation-left">
                    <div class=operation-left-title>
                        <img class="operation-left-img" src="../../../image/u217.svg">
                        <div v-for="(item,index) in packTaskJSONObject" :key="index" class="operation-left-box" :class="{'passBoxNum-1':packTaskJSONObject.length <= 4,
            'passBoxNum-3':packTaskJSONObject.length > 4,
            'color-3':item.boxColor == 1,
            'color-2':item.boxColor == 2,}" style="position:relative" @click="comfirmSacttered(item)">
                            <span style="position:absolute;top:0;left:0;">#{{index + 1}}</span> <span v-if="item.isPack"> {{currentPackInfo.qty}}</span>
                        </div>
                    </div>
                    <div class="operation-left-content">
                        <div class="operation-left-content-left">
                            <ul>
                                <li v-for="(item,index) in packTaskJSONObject" :key="index">
                                    #{{index + 1}}托盘编码:{{item.boxCode}}
                                    #{{index + 1}}目的地:{{item.destination}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="operation-divider"></div>
                <div class="operation-right">
                    <h1 class="operation-right-title">作业指导</h1>
                    <div class="operation-right-content">
                        <div class="operation-right-content-left-lw">
                            <p class="operation-p-40">物料编码:</p>
                            <p class="operation-p-60">{{currentPackInfo.mrlCode}}</p>
                            <p class="operation-p-40">物料名称:</p>
                            <p class="operation-p-60">{{currentPackInfo.mrlName}}</p>
                            <p class="operation-p-40">来源容器条码:</p>
                            <p class="operation-p-60">{{currentPackInfo.sourceCtBarcodeCode}}</p>

                            <p class="operation-p-40" v-show="packingSn == false">批次号:</p>
                            <p class="operation-p-60" v-show="packingSn == false">{{currentPackInfo.lotCode}}</p>
                            <p class="operation-p-40" v-show="packingSn">序列号:</p>
                            <p class="operation-p-60" v-show="packingSn">{{currentPackInfo.serialNum}}</p>

                            <p class="operation-p-40">尾栈数量:</p>
                            <p class="operation-p-60">{{currentPackInfo.qty}}</p>
                            <p class="operation-p-40">摘果数量:</p>
                            <p class="operation-p-60">{{currentPackInfo.qty}}</p>
                        </div>
                    </div>
                    <div class="operation-right-body">
                        <div class="operation-right-body-content">
                            <div class="operation-right-item">
                                <div style="width:30%">尾栈扫描:</div>
                                <div class="aui-list-item-input" style="width:60%">
                                    <input type="text" id="checkWorkCellCode" @keyup.enter="checkWorkCellCode" v-model="packingCtBarCode" placeholder="扫描尾栈编码">
                                </div>
                            </div>
                            <div class="operation-right-item">
                                <div style="width:30%">条码扫描:</div>
                                <div class="aui-list-item-input" style="width:60%">
                                    <input type="text" id="checkLotCode" @keyup.enter="checkSnOrLotCode" v-model="scanSnOrLotCode" v-show="packingSn == false" placeholder="扫描批次">
                                    <input type="text" id="checkSn" @keyup.enter="checkSnOrLotCode" v-model="scanSnOrLotCode" v-show="packingSn" placeholder="扫描SN">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="aui-bar aui-bar-tab aui-row" v-if="itemShow == 3">
            <!-- <div class="aui-btn aui-col-xs-12-50 aui-btn-success"  @click="changeQty">修改数量</div> -->
            <div class="aui-btn aui-col-xs-12 aui-btn-success" @click="submit3">下一步</div>
        </footer>

        <!-- 提交 -->
        <div class="shipment-easyLayout" id="shipment-easyLayout4">
            <table id="bootstrap-tab-3"></table>
        </div>
        <footer class="aui-bar aui-bar-tab aui-row" v-if="itemShow == 4">
            <div class="aui-btn aui-col-xs-12-50 aui-btn-success" @click="cancelSelectLocation">上一步</div>
            <div class="aui-btn aui-col-xs-12-50 aui-btn-success margin-left-2" @click="submit">提交</div>
        </footer>
    </div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/aui-tab.js"></script>
<script type="text/javascript" src="../../../script/aui-toast.js"></script>
<script type="text/javascript" src="../../../script/aui-dialog.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="../../../script/public/constant.js"></script>
<script type="text/javascript" src="../../../script/public/utils.js"></script>
<script type="text/javascript" src="../../../script/public/commons.js"></script>
<script type="text/javascript">
    var toast = new auiToast({});
    var dialog = new auiDialog({});
    var tableField1 = [{
            name: '',
            title: '序号',
            width: 60,
            formatter: function(value, row, index) {
                return index + 1;
            }
        }, {
            name: "packTaskId",
            title: "packTaskId",
            width: 120,
            visible: false
        },
        {
            name: "sourceCtBarcodeCode",
            visible: false
        }, {
            name: "destination",
            title: '目的地',
            width: 80
        }, {
            name: "mrlCode",
            title: "物料编码",
            width: 80
        }, {
            name: 'mrlName',
            title: "物料名称",
            width: 180
        }, {
            name: 'qty',
            title: '计划数量',
            width: 80
        }, {
            name: 'remainQty',
            title: '待拣数量',
            width: 80
        }, {
            name: 'lotCode',
            title: 'lotCode',
            width: 80
        }, {
            name: 'serialNum',
            title: 'serialNum',
            width: 80
        }
    ];
    var tableField2 = [{
        name: 'rowId',
        title: '序号',
        width: 30,
        formatter: function(value, row, index) {
            return index + 1;
        }
    }, {
        name: 'destination',
        title: '目的地',
        width: 80
    }, {
        name: 'isReady',
        title: '操作',
        formatter: function(value, row, index) {
            return row.isReady == 0 ? '' : '就绪';
        }
    }, ];
    var tableField3 = [{
        name: 'rowId',
        title: '序号',
        width: 30,
        formatter: function(value, row, index) {
            return index + 1;
        }
    }, {
        name: 'destination',
        title: '目的地'
    }, {
        name: 'boxCode',
        title: '周转箱'
    }];
    var tableField4 = [{
        name: '',
        title: '序号',
        width: 60,
        formatter: function(value, row, index) {
            return index + 1;
        }
    }, {
        name: "sourceCtBarcodeCode",
        title: '来源容器',
        width: 80
    }, {
        name: 'targetCtBarcodeCode',
        title: '目标容器',
        width: 80
    }, {
        name: "mrlCode",
        title: "物料编码",
        width: 80
    }, {
        name: 'mrlName',
        title: "物料名称",
        width: 180
    }, {
        name: 'sn',
        title: '序列码',
        width: 60
    }, {
        name: 'lotCode',
        title: '批次码',
        width: 60
    }, {
        name: 'qty',
        title: '理货数量',
        width: 80
    }, {
        name: 'packTaskId',
        title: 'packTaskId',
        width: 80
    }];
    apiready = function() {
        api.parseTapmode();
        api.setScreenOrientation({
            orientation: 'landscape_left'
        });
        initTable(0, tableField1);
        initTable(1, tableField2, null, function(row, $element, field) {
            var title;
            if (row.isReady == 0) {
                title = "是否开始该目的地的作业"
            } else {
                title = "是否取消该目的地的作业"
            }
            dialog.alert({
                title: title,
                buttons: ['取消', '确定']
            }, function(ret) {
                if (ret.buttonIndex === 2) {
                    var isReady = row.isReady == 0 ? '1' : '0';
                    row.isReady = isReady;
                    if (isReady == 1) {
                        vueData.readyTodoNum += 1;
                    } else {
                        vueData.readyTodoNum -= 1;
                    }
                    var tableData = $('#bootstrap-tab-1').bootstrapTable('getData');
                    for (var i = 0; i < tableData.length; i++) {
                        if (tableData[i].destination == row.destination) {
                            $("#bootstrap-tab-1").bootstrapTable('updateRow', {
                                index: i,
                                row: row
                            });
                            break;
                        }
                    }
                }
            })
        }, function(row) {
            var style;
            if (row.isReady == 1) {
                style = {
                    css: {
                        'background-color': '#03A9F4'
                    }
                }; //动态变化的，蓝色
                return style;
            }
            return {
                css: {
                    'background-color': 'e3e3e3'
                }
            }; //默认样式
        });
        initTable(2, tableField3, null, function(row, $element, field) {
            dialog.alert({
                title: "是否取消托盘:" + row.boxCode + "与目的地:" + row.destination + "的绑定",
                buttons: ['取消', '确定']
            }, function(ret) {
                if (ret.buttonIndex === 2) {
                    app.$set(row, 'deleteFlag', '1');
                    $("#bootstrap-tab-2").bootstrapTable('remove', {
                        field: 'deleteFlag',
                        values: [row.deleteFlag]
                    });

                    for (var i = 0; i < vueData.packTaskJSONObject.length; i++) {
                        if (vueData.packTaskJSONObject[i].destination == row.destination) {
                            vueData.packTaskJSONObject[i].isBind = 0;
                            break;
                        }
                    }
                }
            })
        });
        initTable(3, tableField4);

        //加载理货任务
        api.showProgress({
            style: 'default',
            animationType: 'fade',
            title: '努力加载中...',
            text: '请稍后...',
            modal: true
        });
        $.ajax({
            type: "POST",
            url: getUrl('padWmsController!getSortOutTask.m'),
            dataType: "json",
            data: {
                'workCenterCode': localStorage.getItem('workCenterCode')
            },
            async: false,
            success: function(res) {
                if (res.errCode === 0) {
                    vueData.allPackTaskJSONObject = res.data;
                    for (var i = 0; i < vueData.allPackTaskJSONObject.length; i++) {
                        //加载待作业工位table表
                        insertDateAtTable(1, 'prepend', [{
                            destination: vueData.allPackTaskJSONObject[i].destination,
                            isReady: 0
                        }]);
                        //加载工位各物料所需明细table表
                        for (var j = 0; j < vueData.allPackTaskJSONObject[i].mrlInfo.length; j++) {
                            var obj = vueData.allPackTaskJSONObject[i].mrlInfo[j];
                            insertDateAtTable(0, 'prepend', [{
                                mrlName: obj.mrlName,
                                mrlCode: obj.mrlCode,
                                destination: obj.destination,
                                qty: obj.qty,
                                remainQty: obj.remainQty,
                                packTaskId: obj.packTaskId,
                                sourceCtBarcodeCode: obj.sourceCtBarcodeCode,
                                lotCode: obj.lotCode,
                                serialNum: obj.serialNum
                            }]);
                        }
                    }
                    $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                    $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
                    api.hideProgress();
                } else {
                    api.hideProgress();
                }
            },
            error: function(e) {
                api.hideProgress();
            }
        });
    };
    var vueData = {
        //全局属性
        itemShow: 1,
        allPackTaskJSONObject: [],
        packTaskJSONObject: [], //拣货任务JSON对象
        //TAB1:
        readyTodoNum: 0,
        //TAB2:
        scanBoxCode: '', //扫描-周转箱
        scanSnOrLotCode: '', //扫描批次号
        //TAB3:
        currentPackInfo: {}, //当前拣选任务
        nextPackInfo: {}, //下一拣选任务
        packingQty: '', //当前拣货数量
        packingCtBarCode: '', //当前拣货库位
        packingSn: false
    };
    var app = new Vue({
        el: '#easyLayout',
        data: vueData,
        mounted: function() {},
        methods: {
            submit: function() {
                //将选取的任务传递到3中生成小推车数量
                if (vueData.itemShow == 1) {
                    //Step1.校验
                    if (vueData.readyTodoNum == 0) {
                        api.toast({
                            msg: '请选择至少一个目的地后，再次点击作业',
                            location: 'middle'
                        });
                        return;
                    }

                    //Step2.为待拣货的packTaskJSONObject对象赋值
                    var tab1Data2 = $('#bootstrap-tab-1').bootstrapTable('getData');
                    for (var i = 0; i < tab1Data2.length; i++) {
                        if (tab1Data2[i].isReady == 1) {
                            var destination = tab1Data2[i].destination;
                            for (var j = 0; j < vueData.allPackTaskJSONObject.length; j++) {
                                if (vueData.allPackTaskJSONObject[j].destination == destination) {
                                    vueData.packTaskJSONObject.push(vueData.allPackTaskJSONObject[j]);
                                }
                            }
                        }
                    }

                    //Step3.为待拣货packTaskJSONObject设定绑定初始值
                    for (var i = 0; i < vueData.packTaskJSONObject.length; i++) {
                        if (i == 0) {
                            app.$set(vueData.packTaskJSONObject[i], 'isBind', '0');
                        } else {
                            app.$set(vueData.packTaskJSONObject[i], 'isBind', '');
                        }
                    }

                } else if (vueData.itemShow == 2) {
                    //绑定托盘与拣货任务的关系
                    //Step1.校验
                    var tab2Data = $('#bootstrap-tab-2').bootstrapTable('getData');
                    if (tab2Data.length != vueData.packTaskJSONObject.length) {
                        api.toast({
                            msg: '已扫周转箱数量与目的地个数不匹配!',
                            location: 'middle',
                            duration: 3000
                        });
                        return
                    }

                    //Step2.绑定关系
                    for (var i = 0; i < tab2Data.length; i++) {
                        var currentDes = tab2Data[i].destination;
                        var currentBox = tab2Data[i].boxCode;
                        for (var j = 0; j < vueData.packTaskJSONObject.length; j++) {
                            if (currentDes == vueData.packTaskJSONObject[j].destination) {
                                vueData.packTaskJSONObject[j].boxCode = currentBox;
                            }
                        }
                    }

                    //Step3.初始化TAB3的内容
                    app.$set(vueData.packTaskJSONObject[0], 'isPack', true);
                    app.$set(vueData.packTaskJSONObject[0].mrlInfo[0], 'isCurrentPack', true);
                    vueData.currentPackInfo = vueData.packTaskJSONObject[0].mrlInfo[0];
                    if (vueData.packTaskJSONObject[0].mrlInfo[1]) {
                        vueData.nextPackInfo = vueData.packTaskJSONObject[0].mrlInfo[1];
                    }
                    if (vueData.currentPackInfo.serialNum != "" && vueData.currentPackInfo.serialNum != null) {
                      vueData.packingSn = true;
                    } else {
                      vueData.packingSn = false;
                    }
                    vueData.packingQty = vueData.packTaskJSONObject[0].mrlInfo[0].qty;
                    vueData.packTaskJSONObject[0].boxColor = 1;

                    //Step4.init完毕，切换视图
                    vueData.itemShow += 1;
                    $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                    $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');

                    // console.log(JSON.stringify(vueData));

                } else if (vueData.itemShow == 4) {
                    var tableData = $('#bootstrap-tab-3').bootstrapTable('getData');
                    api.showProgress({
                        style: 'default',
                        animationType: 'fade',
                        title: '努力加载中...',
                        text: '请稍后...',
                        modal: true
                    });
                    $.ajax({
                        type: "POST",
                        url: getUrl('padWmsController!sortOutTaskCreateRecord.m'),
                        dataType: "json",
                        data: {
                            workCenterCode: localStorage.getItem("workCenterCode"),
                            tableData: JSON.stringify(tableData)
                        },
                        async: false,
                        success: function(res) {
                            if (res.errCode === 0) {
                                toast.success({
                                    title: '提交成功!',
                                    duration: 2000
                                });
                                setTimeout(function() {
                                    window.location.reload();
                                }, 10);
                            } else {
                                api.hideProgress();
                                api.toast({
                                    msg: res.msg,
                                    duration: 3000,
                                    location: 'middle'
                                });
                            }
                        },
                        error: function(e) {
                            api.hideProgress();
                        }

                    });
                    return
                }

                if (vueData.itemShow != 2 && vueData.itemShow < 4) {
                    if (vueData.itemShow != 3) {
                        vueData.itemShow += 1;
                    }
                    $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                    $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
                }
                if (vueData.itemShow == 2) {
                    $('#TrolleyId').focus();
                }
                // 更改零拣作业小推车样式
                // if (vueData.itemShow == 3) {
                //     if (vueData.operation.boxNum <= 4) {
                //         $('.operation-left-box').addClass('passBoxNum-1');
                //     } else if (4 < vueData.operation.boxNum && vueData.operation.boxNum < 7) {
                //         $('.operation-left-box').addClass('passBoxNum-2');
                //     } else if (vueData.operation.boxNum >= 7) {
                //         $('.operation-left-box').addClass('passBoxNum-3');
                //     }
                // }
                return false;
            },
            submit3() {
                vueData.itemShow += 1;
                $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
            },

            //扫描小推车
            scanningTrolley() {
                var barCode = vueData.scanBoxCode;
                if (!barCode) {
                    return false;
                }
                var retObj = getMrlInfoByBarCode(barCode);
                if (retObj != null) {
                    var array = $('#bootstrap-tab-2').bootstrapTable('getData');
                    var isRepeat = false;
                    for (var i = 0; i < array.length; i++) {
                        if (vueData.scanBoxCode == array[i].boxCode) {
                            isRepeat = true;
                        }
                    }
                    if (isRepeat) {
                        vueData.scanBoxCode = "";
                        $('#PassBoxId').focus();
                        return api.toast({
                            msg: "该托盘已绑定，请重新扫描其他未绑定托盘!",
                            duration: 3000,
                            location: 'middle'
                        });
                    }
                    var destination = "";
                    for (var i = 0; i < vueData.packTaskJSONObject.length; i++) {
                        if (vueData.packTaskJSONObject[i].isBind == 0) {
                            destination = vueData.packTaskJSONObject[i].destination;
                            vueData.packTaskJSONObject[i].boxCode = 2;
                            app.$set(vueData.packTaskJSONObject[i], 'isBind', 1);
                            if (vueData.packTaskJSONObject[i + 1]) {
                                app.$set(vueData.packTaskJSONObject[i + 1], 'isBind', 0);
                                vueData.packTaskJSONObject[i].boxCode = 1;
                            }
                            break;
                        }
                    }
                    insertDateAtTable(2, 'prepend', [{
                        destination: destination,
                        boxCode: vueData.scanBoxCode,
                    }]);
                    vueData.scanBoxCode = "";
                    $('#PassBoxId').focus();
                }
            },
            checkSnOrLotCode() {
                // console.log(JSON.stringify(vueData));
                var sn = "";
                var lotCode = "";
                //Step1. 是否扫描为空；判断扫描的批次/sn是否与容器对得上
                if (vueData.packingCtBarCode == "") {
                    $('#checkWorkCellCode').focus();
                    return api.alert({
                        title: '警告',
                        msg: '请先扫描容器后再操作！'
                    });
                }
                if(vueData.packingSn) {
                  //序列号
                  if (vueData.scanSnOrLotCode != vueData.currentPackInfo.serialNum ) {
                      $('#checkSn').focus();
                      return api.alert({
                          title: '警告',
                          msg: '扫描序列:【' + vueData.scanSnOrLotCode + '】与当前任务的序列:【' + vueData.currentPackInfo.serialNum + '】不一致，请确认！'
                      });
                      vueData.scanSnOrLotCode = '';
                      return;
                  }
                  sn = vueData.scanSnOrLotCode;
                }else {
                  //批次件
                  if (vueData.scanSnOrLotCode != vueData.currentPackInfo.lotCode ) {
                      $('#checkLotCode').focus();
                      return api.alert({
                          title: '警告',
                          msg: '扫描序列:【' + vueData.scanSnOrLotCode + '】与当前任务的批次:【' + vueData.currentPackInfo.lotCode + '】不一致，请确认！'
                      });
                      vueData.scanSnOrLotCode = '';
                      return;
                  }
                  lotCode = vueData.scanSnOrLotCode; //理货批次
                }


                //Step2. 输入数量，录入
                var qty = 0;  //理货数量
                var isPush = true;
                dialog.prompt({
                    title: "请输入物料数量",
                    value: qty,
                    text: '',
                    buttons: ['取消', '确定']
                }, function(ret) {
                    if ((ret.text == '' || ret.text == undefined || ret.text == null) && ret.buttonIndex == 2) {
                        api.toast({
                            msg: '请输入数量!',
                            duration: 3000,
                            location: 'middle'
                        });
                    } else if (ret.text != "" && ret.buttonIndex == 2) {
                        qty = ret.text;
                        //记录批次数量即可
                        var breakFlag = false;
                        for (var i = 0; i < vueData.packTaskJSONObject.length; i++) {
                            if (breakFlag) {
                              break;
                            }
                            if (vueData.packTaskJSONObject[i].isPack) {
                                for (var j = 0; j < vueData.packTaskJSONObject[i].mrlInfo.length; j++) {
                                    var packingObj = vueData.packTaskJSONObject[i].mrlInfo[j];
                                    if (packingObj.isCurrentPack) {
                                        breakFlag = true;
                                        //记录已被拣货完成,正在拣货的标识更改
                                        vueData.packTaskJSONObject[i].isPack = false;
                                        vueData.packTaskJSONObject[i].mrlInfo[j].isPacked = true;
                                        vueData.packTaskJSONObject[i].mrlInfo[j].isCurrentPack = false;
                                        insertDateAtTable(3, 'prepend', [{
                                            destination: packingObj.destination,
                                            targetCtBarcodeCode: vueData.packTaskJSONObject[i].boxCode,
                                            sourceCtBarcodeCode: packingObj.sourceCtBarcodeCode,
                                            mrlCode: packingObj.mrlCode,
                                            mrlName: packingObj.mrlName,
                                            qty: qty,
                                            lotCode: lotCode,
                                            sn: sn,
                                            packTaskId: packingObj.packTaskId,
                                        }]);


                                        //Step3. 给出下一次建议的理货计划
                                        //判断是否已经摘果完毕
                                        var sameCtTask = app.getSameSourceCtTask(packingObj.sourceCtBarcodeCode);
                                        if (sameCtTask != null) {
                                          //判断上一个周转箱是否已经拣货完毕，改变颜色
                                          if (app.isBoxFinished(i)) {
                                            vueData.packTaskJSONObject[i].boxColor = 2;
                                          }
                                          vueData.currentPackInfo = sameCtTask;
                                        } else {
                                          //判断是否已经全部捡完
                                          if (app.isBoxFinished(i)) {
                                              //若当前周转箱全部拣完则给与提示并修改颜色
                                              api.alert({
                                                  title: '提醒',
                                                  msg: '摘果已完成！'
                                              });
                                              vueData.packTaskJSONObject[i].boxColor = 2;
                                          }
                                          //判断是否还有下一个周转箱子
                                          var nextTask = app.getNextTask();
                                          if (nextTask != null) {
                                            vueData.currentPackInfo = nextTask;
                                          }
                                          vueData.packingCtBarCode = "";
                                        }
                                        vueData.scanSnOrLotCode = "";
                                        break;
                                    }
                                }
                            }
                        }
                        toast.success({
                            title: '提交成功',
                            duration: 2000
                        });
                    }
                });
            },
            getSameSourceCtTask: function(sourceCtBarcodeCode) {
              var task = null;
              var breakFlag =false;
              for (var i = 0; i < vueData.packTaskJSONObject.length; i++) {
                if (breakFlag) {
                  break;
                }
                for (var j = 0; j < vueData.packTaskJSONObject[i].mrlInfo.length; j++) {
                  if (vueData.packTaskJSONObject[i].mrlInfo[j].sourceCtBarcodeCode == sourceCtBarcodeCode && vueData.packTaskJSONObject[i].mrlInfo[j].isPacked != true) {
                        vueData.packTaskJSONObject[i].mrlInfo[j].isCurrentPack = true;
                        vueData.packTaskJSONObject[i].boxColor = 1;
                        vueData.packTaskJSONObject[i].isPack = true;
                        task = vueData.packTaskJSONObject[i].mrlInfo[j];
                        breakFlag = true;
                        break;
                  }
                }
              }
              return task;
            },
            isBoxFinished: function(index){
              var isFinished = true;
              for (var i = 0; i < vueData.packTaskJSONObject[index].mrlInfo.length; i++) {
                if (vueData.packTaskJSONObject[index].mrlInfo[i].isPacked == false) {
                  isFinished = false;
                }
              }
              return isFinished;
            },
            getNextTask: function() {
              var task = null;
              var breakFlag =false;
              for (var i = 0; i < vueData.packTaskJSONObject.length; i++) {
                if (breakFlag) {
                  break;
                }
                for (var j = 0; j < vueData.packTaskJSONObject[i].mrlInfo.length; j++) {
                  if (vueData.packTaskJSONObject[i].mrlInfo[j].isPacked == false
                      && vueData.packTaskJSONObject[i].mrlInfo[j].isCurrentPack != true) {
                        vueData.packTaskJSONObject[i].boxColor = 1;
                        vueData.packTaskJSONObject[i].mrlInfo[j].isCurrentPack = true;
                        vueData.packTaskJSONObject[i].isPack = true;
                        task = vueData.packTaskJSONObject[i].mrlInfo[j];
                        breakFlag = true;
                        break;
                  }
                }
              }
              return task;
            },
            //确认扫描托盘一致
            checkWorkCellCode: function() {
                if (vueData.packingCtBarCode != vueData.currentPackInfo.sourceCtBarcodeCode) {
                    return api.alert({
                        title: '警告',
                        msg: '扫描托盘:【'+ vueData.packingCtBarCode +'】与目标托盘:【'+ vueData.currentPackInfo.sourceCtBarcodeCode +'】不一致，请确认！'
                    });
                    vueData.packingCtBarCode = "";
                    $('#checkWorkCellCode').focus();
                }
                toast.success({
                    title: '托盘码扫描成功!',
                    duration: 2000
                });
                $('#snOrLotCode').focus();
            },
            cancelSelectLocation: function() {
                vueData.itemShow = vueData.itemShow - 1;
                $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
            }
        }
    });
</script>

</html>
