<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>按单拣货</title>
    <link rel="stylesheet" type="text/css" href="../../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/aui.2.0.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/icons.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-table.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../../css/LCalendar.css">
    <style media="screen">

    </style>
</head>

<body>
    <div class="aui-tab" id="frame">
        <div class="aui-tab-item aui-active" id="aui-tab-item-1">拣货任务</div>
        <div class="aui-tab-item" id="aui-tab-item-2">拣货扫描</div>
    </div>
    <div id="aui-tab-1" class="tab-content-item app tab-content-item-active">
        <form class="aui-content aui-margin-b-10 aui-margin-t-10">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">选择</div>
                        <select @change="selectType($event)">
                            <option value="0" key="0" readonly>--请选择--</option>
                            <option value="1" key="1" readonly>无纸化领料出库</option>
                            <option value="2" key="2" readonly>首发货单出库</option>
                            <option value="3" key="3" readonly>其他</option>
                        </select>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">扫码</div>
                        <div class="aui-list-item-input">
                            <input type="text" id="tab1-scan-barcode1" @keyup.enter="onEnter" v-model="tab1ScanCode" placeholder="扫描出库任务单据号">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">拣货任务号</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="outTaskCode" readonly="readonly">
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <table id="bootstrap-tab-1" style="table-layout: fixed"></table>
        <footer class="aui-bar aui-bar-tab aui-row" id="footer-1">
            <div class="aui-btn aui-col-xs-12 aui-btn-success" @click="querySourceList">源单查询</div>
        </footer>
    </div>
    <div id="aui-tab-2" class="tab-content-item app">
        <form class="aui-content aui-margin-b-10 aui-margin-t-10" id="formSection">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">物料编码</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="formData.mrlCode" readonly="readonly">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">物料名称</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="formData.mrlName" readonly="readonly">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">推荐库位</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="recWorkCell" readonly="readonly"></input>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">推荐容器</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="recCt" readonly="readonly"></input>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">推荐批次</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="recLotCode" readonly="readonly"></textarea>
                        </div>
                    </div>
                </li>
                <!-- <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">计划数量</div>
                    <div class="aui-list-item-input">
                        <input type="text" v-model="formData.qty" readonly="readonly">
                    </div>
                </div>
            </li> -->
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">待出数量</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="formData.remainQty" readonly="readonly">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="aui-list aui-form-list" style="margin-top: 10px">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">目标库位</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="targetWorkCellCode"></input>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">来源容器</div>
                        <div class="aui-list-item-input">
                            <input type="text" id="tab2-scan-ctBarCode" v-model="formData.pickCtCode" @keyup.enter="onEnterCtCode" placeholder="扫描来源容器">
                        </div>
                        <div class="aui-list-item-right">
                            <div class="aui-btn aui-btn-info" style="height:2.2rem;line-height: 1.6rem; margin-right: 2px; float:right" @click="onEnterCtCode">
                                查询
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">容器内数量</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="formData.ctQty" readonly="readonly">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">拣货数量</div>
                        <div class="aui-list-item-input">
                            <input id="tab2-scan-newQty" type="number" v-model="formData.newQty" placeholder="输入拣货数量">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">目标容器</div>
                        <div class="aui-list-item-input">
                            <input id="tab2-scan-targetCt" style="padding-right:1rem" type="text" v-model.trim="targetCt" @keyup.enter="onEnterTargetCt" placeholder="扫描或生成容器编码">
                        </div>
                        <div class="aui-list-item-right">
                            <div class="aui-btn aui-btn-info" style="height:2.2rem;line-height: 1.6rem; margin-right: 2px; float:right" @click="createPBarCode">
                                生成
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <footer class="aui-bar aui-bar-tab aui-row" id="footer-2">
            <div class="aui-btn aui-col-xs-12 aui-btn-primary" @click="submit">提交</div>
        </footer>
    </div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/aui-tab.js"></script>
<script type="text/javascript" src="../../../script/aui-toast.js"></script>
<script type="text/javascript" src="../../../script/aui-dialog.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="../../../script/public/constant.js"></script>
<script type="text/javascript" src="../../../script/public/utils.js"></script>
<script type="text/javascript" src="../../../script/public/commons.js"></script>
<script type="text/javascript" src="../../../script/public/boge-api.js"></script>
<script type="text/javascript" src="../../../script/public/print.js"></script>
<script type="text/javascript" src="../../../script/Lcalendar.js"></script>
<script type="text/javascript">
    /**
     * 页面配置参数
     */
    var pageConfig = {};
    var toast = new auiToast({});
    var dialog = new auiDialog({});
    var tableField1 = [{
            name: 'work',
            title: '操作',
            width: 120,
            formatter: function(value, row, index) {
                if (Number(row.remainQty) > 0) {
                    return [
                        '<div class="like aui-btn">',
                        '开始扫描',
                        '</div>'
                    ].join('')
                }
            }
        },
        { name: 'id', title: 'id', visible: false }, //inTaskDetailGid,用于提交的时候
        { name: 'mrlCode', title: '物料编码', width: 120 },
        { name: 'mrlName', title: '物料名称', width: 200 },
        { name: 'sourceWorkCellCode', title: '来源库位', width: 120 },
        { name: 'sourceCtBarcodeCode', title: '来源容器', width: 120 },
        { name: 'lotCode', title: '批次', width: 120 },
        { name: 'qty', title: '计划数量', width: 80 },
        { name: 'remainQty', title: '剩余数量', width: 80 },
        { name: 'targetWorkCellCode', title: '目标库位', width: 120 }
    ];

    apiready = function() {
        $("#tab1-scan-barcode1").focus();
        //1.初始化多tab结构
        new auiTab({ element: document.getElementById("frame") }, function(params) {
            var index = params.index;
            $('.tab-content-item').removeClass('tab-content-item-active');
            $('#aui-tab-' + index).addClass('tab-content-item-active');
        });
        //2.初始化表格
        initTable(1, tableField1, null, function(row, $element, field) {
            if (field != 'work') return;
            dialog.alert({
                title: "是否开始扫描: " + row.mrlName + "?",
                buttons: ['取消', '确定']
            }, function(ret) {
                //点击执行  初始化tab2的数据
                if (ret.buttonIndex === 2) {
                    if (row.remainQty == 0) {
                        return api.alert({ title: '已拣货完毕', msg: JSON.stringify(ret.msg) });
                    }
                    var obj = {};
                    vueData2.formData.id = row.id;
                    vueData2.formData.mrlCode = row.mrlCode;
                    vueData2.formData.mrlName = row.mrlName;
                    vueData2.recWorkCell = row.sourceWorkCellCode;
                    vueData2.targetWorkCellCode = row.targetWorkCellCode;
                    vueData2.recCt = row.sourceCtBarcodeCode;
                    vueData2.recLotCode = row.lotCode;
                    vueData2.formData.qty = row.qty;
                    vueData2.formData.remainQty = row.remainQty;

                    $('.tab-content-item').removeClass('tab-content-item-active');
                    $('#aui-tab-2').addClass('tab-content-item-active');
                    $('.aui-tab-item').removeClass('aui-active');
                    $('#aui-tab-item-2').addClass('aui-active');
                    $('#tab2-scan-ctBarCode').focus();
                }
            })
        }, function(row) {
            var style;
            if (row.remainQty == 0 || row.remainQty == row.completeQty || row.remainQty < row.completeQty) {
                style = { css: { 'color': 'red' } }; //计划数量等于完成数量则变红色
                return style;
            }
            if (row.isUpdate) {
                style = { css: { 'color': '#03A9F4' } }; //动态变化的，蓝色
                return style;
            }
            return { css: { 'color': 'e3e3e3' } }; //默认样式
        });

        //3.设置监听(查询页面数据的回传)
        setQueryListener(api)

        //设置下拉框的默认值
        vueData1.type = api.getGlobalData({ key: "pickByOrderType" });
        if (vueData1.type) {
            $('select option[value=\"' + vueData1.type + '\"]').attr('selected', 'selected');
        }
    };

    /*--------------Vue1-Tab1-------------*/
    var vueData1 = {
        tab1ScanCode: "",
        outTaskCode: "",
        type: "",
    };
    var app1 = new Vue({
        el: '#aui-tab-1',
        data: vueData1,
        methods: {
            //选择出库任务类型
            selectType: function(event) {
                this.type = event.target.value;
                api.setGlobalData({
                    key: "pickByOrderType",
                    value: this.type
                });
            },
            onEnter: function() {
                var params = {
                    "code": this.tab1ScanCode,
                };
                if (this.tab1ScanCode) {
                    loadTaskOrBillByCode(params, 'pickOrder', app1.$data.formData);
                }
                this.tab1ScanCode = '';
            },
            querySourceList: function() {
                var type = api.getGlobalData({ key: "pickByOrderType" });
                if (type == 0) {
                    return api.alert({ title: '提示', msg: '请先选择拣货类型' });
                }
                api.openWin({
                    name: 'pickOrder_query',
                    url: '../query/pickOrder_query.html',
                    pageParam: {
                        'businessType': api.getGlobalData({ key: "pickByOrderType" })
                    }
                });
            },
            loadPickTaskForOrder: function(code) {
                vueData1.outTaskCode = code;
                if (vueData1.outTaskCode && vueData1.outTaskCode != code) {
                    api.confirm({
                        title: '提示',
                        msg: '当前页面存在数据，确认加载覆盖当前数据？',
                        buttons: ['确定', '取消']
                    }, function(ret) {
                        if (ret.buttonIndex === 1) {
                            //清空Tab2以及Tab3的数据
                            $("#bootstrap-tab-2").bootstrapTable('removeAll');
                            this.loadPickTaskForOrder_Ajax(code)
                        } else {
                            return false;
                        }
                    })
                } else {
                    this.loadPickTaskForOrder_Ajax(code)
                }
            },
            loadPickTaskForOrder_Ajax: function(code) {
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '努力加载中...',
                    text: '请稍后...',
                    modal: true
                });
                $.ajax({
                    type: "POST",
                    url: getUrl("bogePadWmsController!getPickTasksByOrderCode.m"), //通过按单拣货code查询对应的拣货任务
                    dataType: "json",
                    data: {
                        orderCode: code
                    },
                    async: false,
                    success: function(ret) {
                        if (ret.errCode == 0) {
                            console.log(JSON.stringify(ret))
                            $("#bootstrap-tab-1").bootstrapTable('load', formatTableData(ret.data, tableField1, "transferTask"))
                            if (ret.msg) {
                                api.alert({ title: '', msg: JSON.stringify(ret.msg) });
                            }
                            api.hideProgress();
                        } else {
                            api.hideProgress();
                            api.alert({ title: '加载失败', msg: JSON.stringify(ret.msg) });
                        }
                    },
                    error: function(e) {
                        api.hideProgress();
                    }
                });
            }
        }
    });


    /*--------------vue2--------------*/
    var vueData2 = {
        recWorkCell: "", //推荐库位str  用于展示
        targetWorkCellCode: "", //目标库位（可能发生变化）
        recCt: "", //推荐容器str  用于展示
        recLotCode: "", //推荐批次
        targetCt: "", //目标容器
        formData: {
            id: "",
            mrlCode: '', //物料编码
            mrlName: '', //物料名称
            qty: "", //拣货任务计划数量
            remainQty: "", //拣货任务剩余数量

            ctQty: "", //容器内物料数量
            newQty: "", //实际拣货的数量

            pickCtCode: "", //实际扫描的容器
        },
    };
    var app2 = new Vue({
        el: '#aui-tab-2',
        data: vueData2,
        methods: {
            /**
             * 扫描容器
             */
            onEnterCtCode: function() {
                //step1. 校验是否为空；是否扫描的内容存在于推荐的列表内
                if (vueData2.formData.recWorkCell == "") {
                    api.toast({ msg: '请先扫描一条拣货任务', location: 'middle' });
                    vueData2.formData.pickCtCode = "";
                    return false
                }

                //step2. 获取容器库存  校验
                var result = getStockByCodeFn(vueData2.formData.pickCtCode, 2);
                if (!(result && result.length > 0)) {
                    api.toast({ msg: '容器为空！', location: 'middle' });
                    vueData2.formData.pickCtCode = "";
                    return false
                }
                if (result[0].workCellCode != vueData2.recWorkCell) {
                    api.toast({ msg: '容器库存所在库位【' + result[0].workCellCode + '】与推荐库位【' + vueData2.recWorkCell + '】不符', location: 'middle' });
                    vueData2.formData.pickCtCode = "";
                    return false
                } else if (result[0].containCode != vueData2.recCt) {
                    api.toast({ msg: '容器库存的容器【' + result[0].containCode + '】与推荐容器【' + vueData2.recCt + '】不符', location: 'middle' });
                    vueData2.formData.pickCtCode = "";
                    return false
                } else if (result[0].lotCode != vueData2.recLotCode) {
                    api.toast({ msg: '容器库存的批次【' + result[0].lotCode + '】与推荐批次【' + vueData2.recLotCode + '】不符', location: 'middle' });
                    vueData2.formData.pickCtCode = "";
                    return false
                }
                console.log(result[0].qty)
                vueData2.formData.ctQty = result[0].qty;
                $('#tab2-scan-newQty').focus();
            },

            //输入目标容器
            onEnterTargetCt: function() {
                if (!this.formData.ctQty) {
                    this.targetCt = '';
                    $("#tab2-scan-ctBarCode").focus();
                    return api.toast({ msg: '请先扫描容器!', location: 'middle' });
                }
                //判断容器内的物料与来源的物料是否一致
                var ret = getStockByCodeFn(this.targetCt, 2); //type: 1-库存库存查询  2-容器库存查询\
                //console.log(JSON.stringify(ret))
                if (ret && ret.length > 0) {
                    ret.forEach(function(r) {
                        if (ret.status == '1' && ret.statusKey == '') {
                            return api.toast({ msg: '该容器【' + this.targetCt + '】库存冻结,不允许转移!', location: 'middle' });
                        }
                    });
                }
                if (ret.length > 0) {
                    //后续工作，用于校验目标容器的物料和批次是否一致
                    if (ret[0].mrlCode && ret[0].mrlCode != this.formData.mrlCode) {
                        return api.alert({
                            title: '提示',
                            msg: "来源容器物料【" + this.formData.mrlCode + "】与目标容器物料【" + ret[0].mrlCode + "】不一致，不允许转移!"
                        });
                    } else if (ret[0].lotCode && ret[0].lotCode != this.recLotCode) {
                        return api.alert({
                            title: '提示',
                            msg: "容器批次不一致，不允许转移!"
                        });
                    } else if (ret[0].workCellCode != this.recWorkCell) {
                        return api.alert({
                            title: '提示',
                            msg: "扫描目标库位【" + this.recWorkCell + "】与目标容器所在库位【" + ret[0].workCellCode + "】不一致，不允许转移!"
                        });
                    } else {
                        $("#tab1-scan-newQty").focus();
                    }
                } else {
                    api.toast({ msg: '扫描内容：【' + this.targetCt + '】无对应库存信息!', location: 'middle' });
                }
            },

            //生成容器码
            createPBarCode: function() {
                var that = this;
                if (!!that.targetCt) {
                    api.toast({
                        msg: '已有容器码!',
                        duration: 3000,
                        location: 'middle'
                    });
                    return;
                }
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '努力加载中...',
                    text: '请稍后...',
                    modal: true
                });

                var createCode = function(ret) {
                    api.hideProgress();
                    //console.log(JSON.stringify(ret))
                    if (ret && ret.type == 'success' && !!ret.data) {
                        //提交另外需要的数据
                        that.targetCt = ret.data; //目标容器编码
                    } else {
                        api.toast({
                            msg: ret.msg,
                            duration: 3000,
                            location: 'middle'
                        });
                    }
                };
                createPBarCodeFN(createCode, localStorage.getItem('workCenterCode'));
            },
            submit: function() {
                if (!vueData2.formData.ctQty) {
                    return api.alert({
                        title: '提示',
                        msg: "请先扫描容器!"
                    });
                }
                if (vueData2.formData.remainQty <= 0) {
                    return api.alert({
                        title: '提示',
                        msg: "剩余待拣货数量小于等于0，已拣货完毕!"
                    });
                }
                if (!vueData2.formData.newQty) {
                    return api.alert({
                        title: '提示',
                        msg: "请先输入数量!"
                    });
                }
                if (vueData2.formData.newQty != vueData2.formData.remainQty) {
                    return api.alert({
                        title: '提示',
                        msg: "拣货数量不等于待拣数量，请确认!"
                    });
                }
                if (vueData2.formData.newQty > vueData2.formData.ctQty) {
                    return api.alert({
                        title: '提示',
                        msg: "拣货数量【" + vueData2.formData.newQty + "】大于可用数量【" + vueData2.formData.ctQty + "】，不允许拣货!"
                    });
                } else if (vueData2.formData.newQty < vueData2.formData.ctQty && !vueData2.targetCt) {
                    return api.alert({
                        title: '提示',
                        msg: "拣货数量小于容器内数量，请扫描或生成目标容器!"
                    });
                }

                //return false;
                var qty = vueData2.formData.newQty;
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '努力加载中...',
                    text: '请稍后...',
                    modal: true
                });
                $.ajax({
                    type: "POST",
                    url: getUrl("bogePadWmsController!submitPickTaskForOrder.m"),
                    dataType: "json",
                    data: {
                        pickTaskId: vueData2.formData.id,
                        srcWc: vueData2.recWorkCell,
                        srcCt: vueData2.recCt,
                        targetCt: vueData2.targetCt,
                        lotCode: vueData2.recLotCode,
                        qty: qty,
                        targetWorkCellCode: vueData2.targetWorkCellCode //推荐可能修改
                    },
                    async: false,
                    success: function(ret) {
                        if (ret.errCode == 0) {
                            //有容器生产的需要重新打印标签
                            if (vueData2.targetCt) {
                                printToJiaBo(vueData2.formData.mrlCode, vueData2.formData.mrlName, vueData2.recLotCode, qty, vueData2.targetCt);
                            }
                            // step3.提交成功，更新表格1的完成数量
                            var tableData1 = $('#bootstrap-tab-1').bootstrapTable('getData');
                            for (var i = 0; i < tableData1.length; i++) {
                                if (tableData1[i].id == vueData2.formData.id) {
                                    var obj = tableData1[i];
                                    obj.remainQty = vueData2.formData.remainQty - qty;
                                    $("#bootstrap-tab-1").bootstrapTable('updateRow', {
                                        index: i,
                                        row: obj
                                    });
                                }
                            }
                            //step4.重置tab2的数据
                            if (vueData2.formData.remainQty - qty == 0) {
                                // 已拣货完毕
                                vueData2.recCtList = [];
                                vueData2.recWorkCellList = [];
                                vueData2.recCt = "";
                                vueData2.targetCt = "";
                                vueData2.recWorkCell = "";

                                vueData2.formData.mrlCode = "";
                                vueData2.formData.mrlName = "";
                                vueData2.formData.qty = "";
                                vueData2.formData.remainQty = "";
                                vueData2.formData.ctQty = "";
                                vueData2.formData.newQty = "";
                                vueData2.formData.pickCtCode = "";

                                $('.tab-content-item').removeClass('tab-content-item-active');
                                $('#aui-tab-1').addClass('tab-content-item-active');
                                $('.aui-tab-item').removeClass('aui-active');
                                $('#aui-tab-item-1').addClass('aui-active');
                            } else {
                                //还需要继续拣货
                                vueData2.formData.remainQty = vueData2.formData.remainQty - qty;
                                vueData2.formData.qty = "";
                                vueData2.targetCt = "";
                                vueData2.formData.ctQty = "";
                                vueData2.formData.newQty = "";
                                vueData2.formData.pickCtCode = "";
                                $('#tab2-scan-workCellCode').focus();
                            }
                            api.toast({ msg: '提交成功', location: 'middle' });
                            api.hideProgress();
                        } else {
                            api.hideProgress();
                            api.alert({ title: '提交失败', msg: JSON.stringify(ret.msg) });
                        }
                    },
                    error: function(e) {
                        api.hideProgress();
                    }
                });
            }
        }

        // /**
        //  * 扫描条码（批次）
        //  */
        // onEnterPickBarCode: function () {
        //     //step1. 校验是否为空；校验批次是否正确
        //     if (vueData2.formData.pickBarcode == "" || !vueData2.formData.pickBarcode) {
        //         api.toast({msg: '请先扫描容器编码', location: 'middle'});
        //         vueData2.formData.pickBarcode = "";
        //         return $('#tab2-scan-barcode').focus();
        //     }
        //     var retObj = getWorkCellByMrlAndLotCode(vueData2.formData.mrlCode, vueData2.formData.pickBarcode);
        //     if (JSON.stringify(retObj) != {}) {
        //         var arr = retObj;
        //         var isAlive = false;
        //         for (var i = 0; i < arr.length; i++) {
        //             if (arr[i].workCellCode == vueData2.formData.pickWorkCellCode) {
        //                 isAlive = true;
        //             }
        //         }
        //         if (!isAlive) {
        //             api.toast({msg: '批次码不在当前库位，请检查后重新扫描！', location: 'middle'});
        //             vueData2.formData.pickBarcode = "";
        //             return $('#tab2-scan-barcode').focus();
        //         }
        //     } else {
        //         api.toast({msg: '批次码不在当前库位，请检查后重新扫描！', location: 'middle'});
        //         vueData2.formData.pickBarcode = "";
        //         return $('#tab2-scan-barcode').focus();
        //     }

        //     $('#tab2-scan-newQty').focus();

        //     //step2.输入数量，提交
        //     var qty = 0
        //     dialog.prompt({
        //         title: "请输入物料数量",
        //         value: qty,
        //         text: '',
        //         buttons: ['取消', '确定']
        //     }, function (ret) {
        //         if ((ret.text == '' || ret.text == undefined || ret.text == null) && ret.buttonIndex == 2) {
        //             api.toast({msg: '请输入数量!', duration: 3000, location: 'middle'});
        //         } else if (!!ret.text && ret.buttonIndex == 2) {
        //             qty = Number(ret.text);
        //             if (vueData2.formData.qty < qty) {
        //                 api.toast({msg: '输入数量大于可出数量', location: 'middle'});
        //                 vueData2.formData.pickBarcode = "";
        //                 return $('#tab2-scan-ctBarCode').focus();
        //             } else {
        //                 vueData2.formData.newQty = qty;
        //             }
        //         }
        //     });
        // },
    });
</script>

</html>
