<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>托拣</title>
    <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/aui.2.0.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../../css/outBound.css">
    <style>
        body{
            background-color: rgb(245,245,245);
        }
        #easyLayout{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100vh;
        }
        .dataIsNone{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(139,134,130);
        }
    </style>
</head>
<body>
<div id="easyLayout">
    <!-- 选择波次任务 -->
    <div class="shipment-easyLayout shipment-easyLayout-active" id="shipment-easyLayout0">
        <div class="dataIsNone" style="margin-top:2.2rem;box-sizing:border-box" v-if="taskList.length == 0">
            暂无数据
        </div>

        <div class="shipment-easyLayout-item"
             v-for="(item,index) in taskList"
             :class="{'shipment-easyLayout-item-margin':index != (taskList.length - 1)}"
             @click="startTask(item)" style="font-size:10px">
            <p style="width:100%">波次:{{item.DOWNTASKCODE}}</p>
            <p style="width:100%">任务数量:{{item.TJPICKTASKQTY}}</p>
        </div>
    </div>

    <div class="shipment-easyLayout" id="shipment-easyLayout1">
        <table id="bootstrap-tab" style="table-layout: fixed"></table>
    </div>
    <footer class="aui-bar aui-bar-tab aui-row" id="footer-1" v-if="vueData.itemShow == 1">
        <div class="aui-btn aui-col-xs-12 aui-btn-success"  @click="nextStep">开始作业</div>
    </footer>


    <div class="shipment-easyLayout" id="shipment-easyLayout2">
        <form class="aui-content aui-margin-b-10 aui-margin-t-10" id="formSection">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">来源库位</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model.trim="operation.showObj.workCellCode" readonly="readonly">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">待转容器</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model.trim="operation.showObj.ctBarCode" placeholder="">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">容器编码</div>
                        <div class="aui-list-item-input">
                            <input type="text" @keyup.enter="onEnterBarCode" id="tab1-scan-barcode2" v-model.trim="vueData.operation.ctBarCode" placeholder="扫描容器编码">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">目标库位</div>
                        <div class="aui-list-item-input">
                            <input type="text" v-model="operation.showObj.targetWorkCellCode" >
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <table id="bootstrap-tab-1"></table>
        <footer class="aui-bar aui-bar-tab aui-row" id="footer-2" v-if="vueData.itemShow == '2'">
            <div class="manyBtn">
                <div type="button" @click="skipCurrent">跳过</div>
                <div type="button" class="marginLeft" @click="submitCurrent">提交</div>
            </div>
        </footer>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/aui-tab.js"></script>
<script type="text/javascript" src="../../../script/aui-toast.js"></script>
<script type="text/javascript" src="../../../script/aui-dialog.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="../../../script/public/constant.js"></script>
<script type="text/javascript" src="../../../script/public/utils.js"></script>
<script type="text/javascript" src="../../../script/public/commons.js"></script>
<script type="text/javascript">
    /**
     *
     * @param barCode
     * @param newBarCode
     * @returns {{}}
     */
    function getCtUwmInfoByCtBarCodeForPick(barCode,newCtBarCode) {
        var retObj = {};
        api.showProgress({
            style: 'default',
            animationType: 'fade',
            title: '努力加载中...',
            text: '请稍后...',
            modal: true
        });
        $.ajax({
            type: "POST",
            url: getUrl("padWmsController!getCtUwmInfoByCtBarCode.m"),
            dataType: "json",
            data: {
                ctBarCode: barCode,
                newCtBarCode: newCtBarCode
            },
            async: false,
            success: function (ret) {
                if (ret.errCode == 0) {
                    retObj = ret.data;
                    api.hideProgress();
                } else {
                    api.hideProgress();
                    api.alert({title:'操作失败', msg:JSON.stringify(ret.msg)});
                }
            },
            error: function (e) {
                api.hideProgress();
            }
        });
        return retObj;
    }


    var toast = new auiToast({});
    var dialog = new auiDialog({});
    var tableField1 = [
        {
            name: '', title: '序号',width:60, formatter: function (value, row, index) {
                return index + 1;
            }
        },
        {name:'ctBarCode',title:"待转移容器", width: 80},
        {name:"workCellCode",title:'来源库位', width: 80},
        {name:'targetWorkCellCode',title:'目标库位', width: 80},
        {name:'mrlCode',title:'物料', width: 80},
        {name:'lotCode',title:'批次', width: 80},
    ];

    var tableField2 = [
        {name: 'mrlCode', title: '物料编码'},
        {name: 'mrlName', title: '物料名称'},
        {name: 'lotCode', title: '批次'},
        {name: 'qty', title: "数量"}
    ];

    apiready = function () {
        api.parseTapmode();
        initTable(0, tableField1, null, function(row, $element){
          dialog.alert({
              title: "确认从第" + ($element.data('index') + 1) + "行执行?",
              buttons: ['取消', '确定']
          }, function (ret) {
              if (ret.buttonIndex == 2) {
                if(vueData.itemShow == 1){
                    vueData.operation.showObj = vueData.selectLocation.list[($element.data('index'))];
                }
                vueData.itemShow += 1 ;
                $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
                console.log(JSON.stringify(vueData))
              }
          })
        });
        initTable(1, tableField2);

        $.ajax({
            type: "POST",
            url: getUrl('padWmsController!getWaveTjTask.m'),
            dataType: "json",
            data: {

                'workCenterCode': localStorage.getItem('workCenterCode')
            },
            async: false,
            success: function (res) {
                console.log(JSON.stringify(res));
                if (res.errCode == 0) {
                    if(res.data.length != 0){
                        vueData.taskList = res.data;
                    }
                } else {
                    api.hideProgress();
                }
            },
            error: function (e) {
                api.hideProgress();
            }
        });
    };
    var vueData = {
        itemShow:0,//控制显示隐藏
        taskList:[],//入库单号list
        currentTaskCode:'',
        code:'',
        selectLocation:{
            list:[],
        },
        operation:{
            showObj:{},
            ctBarCode:"",
        }
    };
    var app = new Vue({
        el: '#easyLayout',
        data: vueData,
        methods: {
            startTask:function(item){
                vueData.currentTaskCode = item.DOWNTASKCODE;
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '努力加载中...',
                    text: '请稍后...',
                    modal: true
                });
                $.ajax({
                    type: "POST",
                    url: getUrl('bogePadWmsController!getCtPickTask.m'),
                    dataType: "json",
                    data: {
                        downTaskCode:vueData.currentTaskCode,
                        workCenterCode:localStorage.getItem('workCenterCode')
                    },
                    async: false,
                    success: function (res) {
                        console.log(JSON.stringify(res));
                        if (res.errCode == 0) {
                            
                            vueData.selectLocation.list = res.data;
                            for (var i = vueData.selectLocation.list.length - 1; i > -1 ; i--) {
                                var obj = vueData.selectLocation.list[i];
                                insertDateAtTable(0, 'prepend', [{
                                    ctBarCode:obj.ctBarCode,
                                    workCellCode:obj.workCellCode,
                                    targetWorkCellCode:obj.targetWorkCellCode,
                                    mrlCode:obj.mrlCode,
                                    lotCode:obj.lotCode
                                }]);
                            }
                            vueData.itemShow += 1 ;
                            $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                            $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
                        } else {
                            api.hideProgress();
                            api.toast({msg: res.msg, duration: 3000, location: 'middle'});
                        }
                    },
                    error: function (e) {
                        api.hideProgress();
                    }
                });
                api.hideProgress();
            },
            //下一步
            nextStep:function(){
                if(vueData.itemShow == 1){
                    vueData.operation.showObj = vueData.selectLocation.list[0];
                }
                vueData.itemShow += 1 ;
                $('.shipment-easyLayout').removeClass('shipment-easyLayout-active');
                $('#shipment-easyLayout' + vueData.itemShow).addClass('shipment-easyLayout-active');
                console.log(JSON.stringify(vueData))
            },
            //扫描托盘条码
            onEnterBarCode:function(){
                var barCode = vueData.operation.showObj.ctBarCode;
                var newBarCode = vueData.operation.ctBarCode;
                var retObj =  getCtUwmInfoByCtBarCodeForPick(barCode,newBarCode);
                if(JSON.stringify(retObj) != "{}"){
                    //不做库位校验
                    $("#bootstrap-tab-1").bootstrapTable('load', retObj.containerMrlInfo);
                    api.toast({msg: "待转容器扫描成功，请将容器转移到目标库位后提交!", duration: 3000, location: 'middle'});
                    // if(retObj.workCellCode != vueData.operation.showObj.workCellCode){
                    //     $("#tab1-scan-barcode2").focus();
                    //     vueData.operation.ctBarCode = "";
                    //     return api.toast({msg: "来源库位与托盘扫描所属库位不一致，请重新扫描!", duration: 3000, location: 'middle'});
                    // }else {
                    //     console.log("------>"+JSON.stringify(retObj.containerMrlInfo));
                    //     $("#bootstrap-tab-1").bootstrapTable('load', retObj.containerMrlInfo);
                    //     api.toast({msg: "待转容器扫描成功，请将容器转移到目标库位后提交!", duration: 3000, location: 'middle'});
                    // }
                }
            },
            //跳过当前
            skipCurrent:function() {
                var idx = 0;
                for (var i = 0; i < vueData.selectLocation.list.length; i++) {
                    if(vueData.operation.showObj.ctBarCode == vueData.selectLocation.list[i].ctBarCode){
                        vueData.operation.ctBarCode = "";
                        idx = i;
                    }
                }
                if(idx < (vueData.selectLocation.list.length - 1 )){
                    vueData.operation.showObj = vueData.selectLocation.list[idx + 1];
                }else if(idx == (vueData.selectLocation.list.length - 1 )){
                    api.toast({msg: "本次托拣已结束！", duration: 3000, location: 'middle'});
                    setTimeout(function(){
                        window.location.reload();
                    },2000)
                    return
                }
            },
            //提交当前
            submitCurrent:function(){
                if(vueData.operation.ctBarCode == ""){
                    return api.toast({msg: "请扫描托盘码后再次提交", duration: 3000, location: 'middle'});
                }
                var arr = [{
                    ctBarcode:vueData.operation.showObj.ctBarCode,
                    newCtBarcode:vueData.operation.ctBarCode,
                    targetWorkCellCode:vueData.operation.showObj.targetWorkCellCode

                }]
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '努力加载中...',
                    text: '请稍后...',
                    modal: true
                });
                $.ajax({
                    type: "POST",
                    url: getUrl('padWmsController!ctPickCreateRecord.m'),
                    dataType: "json",
                    data: {
                        downTaskCode:vueData.currentTaskCode,
                        workCenterCode:localStorage.getItem("workCenterCode"),
                        pickMrlInfo:JSON.stringify(arr)
                    },
                    async: false,
                    success: function (res) {
                        if (res.errCode === 0) {
                            vueData.operation.ctBarCode = "";
                            api.toast({msg: "提交成功", duration: 3000, location: 'middle'});
                            app.skipCurrent();
                        } else {
                            api.toast({msg: res.msg, duration: 3000, location: 'middle'});
                        }
                    },
                    error: function (e) {
                        console.log(JSON.stringify(e));
                    }

                });
                api.hideProgress();
            },
        }
    });
</script>

</html>
