<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>委外收货</title>
    <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/aui.2.0.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/custom.css">
</head>

<body>
<div class="aui-tab" id="frame">
    <div class="aui-tab-item aui-active">委外入库任务</div>
    <div class="aui-tab-item">物料扫描</div>
    <div class="aui-tab-item">已扫描</div>
</div>
<div id="aui-tab-1" class="tab-content-item app tab-content-item-active">
    <form class="aui-content aui-margin-b-10 aui-margin-t-10">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">扫码</div>
                    <div class="aui-list-item-input">
                        <input type="text" @keyup.enter="onEnter" v-model.trim="tab1ScanCode"
                               placeholder="扫描入库任务条码">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">入库任务号</div>
                    <div class="aui-list-item-input">
                        <input type="text" v-model="formData.code" readonly="readonly">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">任务状态</div>
                    <select disabled="disabled">
                        <option v-for="item in stateItems" :value="item.key">{{item.value}}</option>
                    </select>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">供应商</div>
                    <div class="aui-list-item-input">
                        <input type="text" v-model="formData.supplierName" readonly="readonly">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">计划日期</div>
                    <div class="aui-list-item-input">
                        <input type="text" v-model="formData.taskDate" readonly="readonly">
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <table id="bootstrap-tab-1"></table>
    <footer class="aui-bar aui-bar-tab aui-row" id="footer-1">
        <div class="aui-btn aui-col-xs-12 aui-btn-success" @click="querySourceList">源单查询</div>
    </footer>
</div>
<div id="aui-tab-2" class="tab-content-item app">
    <form class="aui-content aui-margin-b-10 aui-margin-t-10" id="formSection">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">扫码</div>
                    <div class="aui-list-item-input">
                        <input type="text" @keyup.enter="onEnterWorkCell" v-model.trim="tab2ScanWorkCell" placeholder="扫描库位条码">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">库位</div>
                    <div class="aui-list-item-input">
                        <input type="text" v-model="workCellCode" readonly="readonly">
                    </div>
                </div>
            </li>
            <!--<li class="aui-list-item">-->
            <!--<div class="aui-list-item-inner">-->
            <!--<div class="aui-list-item-label">区域</div>-->
            <!--<select @change="getArea($event)" id="area">-->
            <!--<option v-for="(item,index) in areaItems" :value="item.key">{{item.value}}</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="aui-list-item">-->
            <!--<div class="aui-list-item-inner">-->
            <!--<div class="aui-list-item-label">库区</div>-->
            <!--<select @change="getSubArea($event)" id="sub-area">-->
            <!--<option v-for="(item,index) in subAreaItems" :value="item.key">{{item.value}}</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</li>-->
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">扫码</div>
                    <div class="aui-list-item-input">
                        <input type="text" id="tab2-scan-bar-code" @keyup.enter="onEnterBarCode"
                               v-model.trim="tab2ScanBarcode"
                               placeholder="扫描物料条码">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">物料编码</div>
                    <div class="aui-list-item-input">
                        <input type="text" name="mrlCode" v-model="formData.mrlCode" readonly="readonly">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">批次</div>
                    <div class="aui-list-item-input">
                        <input type="text" name="lotCode" v-model="formData.lotCode" readonly="readonly">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">供应商</div>
                    <div class="aui-list-item-input">
                        <input type="text" name="supply" v-model="formData.supplierCode" readonly="readonly">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">数量</div>
                    <div class="aui-list-item-input">
                        <input type="text" name="qty" v-model="formData.qty" readonly="readonly">
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <table id="bootstrap-tab-2"></table>
</div>
<div id="aui-tab-3" class="tab-content-item app">
    <div class="aui-margin-b-10 aui-margin-t-10">
        <table id="bootstrap-tab-3" style="table-layout: fixed"></table>
    </div>
    <footer class="aui-bar aui-bar-tab aui-row" id="footer-3">
        <!--<div class="aui-btn aui-col-xs-6" @click="CloseWin">取消</div>-->
        <div class="aui-btn aui-col-xs-12 aui-btn-primary" @click="submit">提交</div>
    </footer>
</div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/aui-tab.js"></script>
<script type="text/javascript" src="../../../script/aui-toast.js"></script>
<script type="text/javascript" src="../../../script/aui-dialog.js"></script>
<script type="text/javascript" src="../../../script/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../../../script/vue.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../../script/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="../../../script/public/constant.js"></script>
<script type="text/javascript" src="../../../script/public/utils.js"></script>
<script type="text/javascript" src="../../../script/public/commons.js"></script>
<script type="text/javascript">
    /**
     * 操作流程概述：
     *      1.Tab1中录入采购入库任务。 支持 源单选取和扫码带出两种操作方式；
     *      2.Tab2扫描库位条码带出库位；
     *      3.Tab2扫描物料，扫描供应商贴的条码 带出物料信息；
     *              （规则：采购合同号+供应商代码+物料代码+生产日期+生产批次+本箱数量+供货日期+6位流水号）
     *              PO-ZNZD-20181679-BOB, 0.B.F0.120, 30.B.01.0080-6, 2019-01-07, 20190107, 114, 2019-02-07, 000001
     *      4.重复第3步，逐一扫码；
     *      5.提交生成收货单。
     *
     */

    /**
     * 页面配置参数
     */
    var pageConfig = {
        sourceBusinessType: TYPE.IN_TASK,       //来源 - 单据类型 - 入库任务
        targetBusinessType: TYPE.ARR_Bill,      //目标 - 单据类型 - 收货单
        isSplitBarCode: true,                   //条码带的信息是解析还是从后台获取
        isDialogToConfirmQty: false             //是否弹框输入数量
    };

    var audioModule;//语音播报
    var toast = new auiToast({});
    var dialog = new auiDialog({});
    var tableField1 = [
        {name: 'id', title: 'inTaskDetailGid', visible: false},      //inTaskDetailGid,用于提交的时候
        {name: 'mrlCode', title: '物料编码'},
        {name: 'mrlName', title: '物料名称'},
        {name: 'originDetailGid', title: '原始单据明细Gid', visible: false},
        {name: 'qty', title: '计划数量'},
        {name: 'arrivalQty', title: '已收货数量', visible: false},
        {name: 'remainQty', title: '剩余数量'}, //由(qty - arrivalQty)计算得到
        {
            name: 'completeQty', title: '已扫描数量', formatter: function (value, row, index) {
                if (value) {
                    return value
                } else {
                    return 0;
                }
            }
        }
    ];
    var tableField2 = [
        {name: 'rowId', title: 'rowId', visible: false},        //用于前台逻辑关联
        {name: 'mrlCode', title: '物料编码'},
        {name: 'lotCode', title: '批次'},
        {name: 'lotCode2', visible: false},     //存在外部批次和内部批次
        // {name: 'areaGid', title: '区域', visible: false},
        // {name: 'areaName', title: '区域'},
        // {name: 'subAreaGid', title: '库区', visible: false},
        // {name: 'subAreaName', title: '库区'},
        {name: 'workCellCode', title: '库位'},
        {name: 'qty', title: '数量'},
        // {name: 'uda2', title: '生产时间', visible: false}
    ];
    var tableField3 = [
        {
            name: 'no', title: '', width: 40, formatter: function (value, row, index) {
                return index + 1;
            }
        },
        {name: 'rowPid', title: '父主键', visible: false},
        {name: 'barCode', title: '条码', width: 150, sortable: true, order: 'asc'},
        {name: 'mrlCode', title: '物料编码', width: 80},
        {name: 'lotCode', title: '批次号', width: 80},
        {name: 'workCellCode', title: '库位', width: 80},
        {name: 'qty', title: '数量', width: 50}
        // {name: 'areaName', title: '区域', width: 80},
        // {name: 'subAreaName', title: '库区', width: 80},
        // {name: 'uda2', title: '生产时间', width: 80}
    ];

    apiready = function () {
        audioModule = api.require('OtherOffLineSpeakModule');
        // audioModule.speak({
        //     text: 'here is 语音播报文字内容.'
        // }, function(ret, err) {
        //     if (err) {
        //         console.log(JSON.stringify(err));
        //     }
        // });

        //1.初始化多tab结构
        new auiTab({element: document.getElementById("frame")}, function (params) {
            var index = params.index;
            $('.tab-content-item').removeClass('tab-content-item-active');
            $('#aui-tab-' + index).addClass('tab-content-item-active');
        });

        //2.初始化表格
        initTable(1, tableField1, null, null, function (row) {
            var style;
            if (row.remainQty == 0 || row.remainQty == row.completeQty) {
                style = {css: {'color': 'red'}};     //计划数量等于完成数量则变红色
                return style;
            }
            if (row.isUpdate) {
                style = {css: {'color': '#03A9F4'}}; //动态变化的，蓝色
                return style;
            }
            return {css: {'color': 'e3e3e3'}};   //默认样式
        });
        initTable(2, tableField2, null, null);
        initTable(3, tableField3, null, function (row, $element, field) {
            dialog.alert({
                title: "确认删除第 " + ($element.data('index') + 1) + " 行: " + row.barCode + " 吗?",
                buttons: ['取消', '确定']
            }, function (ret) {
                if (ret.buttonIndex === 2) {
                    updateTableByDelete(row, $element.data('index'), $element);
                }
            })
        });

        //3.设置监听(查询页面数据的回传)
        setQueryListener(api)
    };

    /*--------------Vue1-Tab1-------------*/
    var vueData1 = {
        tab1ScanCode: '',       //入库任务扫码
        stateItems: INSTORE_STATUS_2,
        formData: {         //表头数据
            id: '',
            code: '',               //入库任务编码
            state: '',
            businessType: INSTORE_TYPE.CONSIGN_PRODUCT,
            workCenterGid: WCEN_GID,
            supplierName: '',       //供应商名称
            supplierCode: '',       //供应商编码
            taskDate: ''            //计划日期
        }
    };
    var app1 = new Vue({
        el: '#aui-tab-1',
        data: vueData1,
        methods: {
            onEnter: function () {
                var params = {
                    "code": this.tab1ScanCode,
                    "workCenterGid": WCEN_GID,
                    "businessType": INSTORE_TYPE.CONSIGN_PRODUCT
                    //"state": INSTORE_STATUS.NEW
                };
                if (this.tab1ScanCode) {
                    loadTaskOrBillByCode(params, pageConfig.sourceBusinessType, app1.$data.formData);
                }
                this.tab1ScanCode = '';
            },
            querySourceList: function () {
                querySourceList(pageConfig.sourceBusinessType, INSTORE_TYPE.CONSIGN_PRODUCT);
            }
        }
    });


    /*--------------vue2--------------*/
    var vueData2 = {
        tab2ScanWorkCell: '',        //扫描货位
        workCellCode: '',            //库位
        tab2ScanBarcode: '',
        isSplitBarCode: pageConfig.isSplitBarCode,      //是否解析条码
        isDialog: pageConfig.isDialogToConfirmQty,      //是否弹框输入数量
        // areaItems: [],          // 区域数组，用于select元素加载
        // subAreaItems: [],       // 库区数组
        locationData: {
            workCellGid: '',    //库位
            workCellCode: ''
            // areaGid: '',        //库区
            // areaName: '',
            // subAreaGid: '',     //区域
            // subAreaName: ''
        },
        formData: {
            mrlCode: '',        //物料编码
            lot: '',            //批次
            supplierCode: '',   //供应商编码
            qty: ''             //实收数量
            // uda2: ''            //存放物料的生产日期，用于排序
        }
    };
    var app2 = new Vue({
        el: '#aui-tab-2',
        data: vueData2,
        mounted: function () {
            //挂载时获取区域
            // vueData2.areaItems = getWCByPid(WCEN_GID);
        },
        methods: {
            onEnterWorkCell: function () {
                //1校验入库任务是否输入-2查询库位并赋值-3光标焦点聚焦到扫描条码的Input
                if (!vueData1.formData.code) {
                    api.toast({msg: '请先选择采购入库任务！', location: 'middle'});
                    this.tab2ScanWorkCell = '';
                    return false
                }
                var retObj = getAreaAndSubAreaByWorkCell(this.tab2ScanWorkCell);
                if (JSON.stringify(retObj) !== '{}') {
                    this.locationData.workCellGid = retObj.workCellGid;
                    this.locationData.workCellCode = this.tab2ScanWorkCell;
                    // this.locationData.areaGid = retObj.areaGid;
                    // this.locationData.areaName = retObj.areaName;
                    // this.locationData.subAreaGid = retObj.subAreaGid;
                    // this.locationData.subAreaName = retObj.subAreaName;
                    //赋值
                    // vueData2.subAreaItems = getWCByPid(retObj.areaGid);
                    // $('select option[value="' + retObj.areaGid + '"]').attr('selected', 'selected');
                    //必须延时加载，不然vue还没渲染出来
                    // setTimeout(function f() {
                    //     $('select option[value=\"' + retObj.subAreaGid + '\"]').attr('selected', 'selected');
                    // }, 10);

                    this.workCellCode = this.tab2ScanWorkCell;
                    $('#tab2-scan-bar-code').focus();
                }
                this.tab2ScanWorkCell = '';
            },
            onEnterBarCode: function () {
                //step 1.校验：是否有内容输入； 是否已经扫描库位； 是否已经被扫描； 是否已收货
                if (!this.tab2ScanBarcode) {
                    return false
                }
                if (!this.locationData.workCellGid) {
                    api.toast({msg: '请先扫描库位！', location: 'middle'});
                    this.tab2ScanBarcode = '';
                    return false
                }

                // this.tab2ScanBarcode = formatBarCode(this.tab2ScanBarcode);
                if (isExistInTab3(this.tab2ScanBarcode)){
                    this.tab2ScanBarcode = '';
                    return false
                }
                var retMsg = isAlreadyArrivalStore(this.tab2ScanBarcode);
                if (retMsg == null || retMsg){
                    this.tab2ScanBarcode = '';
                    return false
                }
                //step 2.加载物料信息
                var barCode = this.tab2ScanBarcode;
                var retObj = {};
                if (this.isSplitBarCode) {
                    retObj = loadBarCodeInfoBySplit(barCode);   //解析加载
                } else {
                    retObj = loadBarCodeInfoByQuery(barCode);   //ajax后台加载
                }

                //step 3.验证物料是否与任务明细吻合； 确认数量； 3个tab同步数据
                if (JSON.stringify(retObj) != "{}") {
                    var tableData1 = $('#bootstrap-tab-1').bootstrapTable('getData');
                    if (!isInTableData(retObj, tableData1)) {
                        this.tab2ScanBarcode = '';
                        return false
                    }

                    if (this.isDialog) {
                        dialog.prompt({
                            title: "确认数量",
                            text: '',
                            value: retObj.qty,
                            input: true,
                            buttons: ['取消', '确定']
                        }, function (ret) {
                            if (ret.buttonIndex === 2) {
                                if (ret.text !== "" || ret.text !== undefined) {
                                    // 数据回传
                                    $("#qty").val(ret.text);
                                    retObj.qty = ret.text;
                                }
                            }
                        });
                    }

                    var newDate = {};
                    newDate.barCode = barCode;
                    for (var name in retObj) {
                        newDate[name] = retObj[name];
                        this.formData[name] = retObj[name];
                    }
                    for (var name in this.locationData) {
                        newDate[name] = this.locationData[name];
                    }
                    updateTableByInsert(newDate, tableField2, tableField3);
                }
                this.tab2ScanBarcode = '';
            }
            // getArea: function (event) {
            //     if (!vueData1.formData.code) {
            //         api.toast({msg: '请先选择采购入库任务！', location: 'middle'});
            //         this.tab2ScanWorkCell = '';
            //         $('#area option :first').attr('selected', 'selected');
            //         return false
            //     } else {
            //         //step 1.清空库区扫码的值
            //         this.tab2ScanWorkCell = '';
            //         this.locationData.workCellGid = '';
            //         //step 2.保存所选区域的值gid name
            //         var areaGid = event.target.value;
            //         var areaName = $("#area option:selected").text();
            //         this.locationData.areaGid = areaGid;
            //         this.locationData.areaName = areaName;
            //         //step 3.为库区列表赋值,将所选项赋值为'请选择'
            //         vueData2.subAreaItems = getWCByPid(areaGid);
            //         $('#sub-area option :first').attr('selected', 'selected');
            //     }
            // },
            // getSubArea: function (event) {
            //     // 保存所选库区的值gid name
            //     var subAreaGid = event.target.value;
            //     var subAreaName = $("#sub-area option:selected").text();
            //     this.locationData.subAreaGid = subAreaGid;
            //     this.locationData.subAreaName = subAreaName;
            // }
        }
    });


    /*--------------vue3--------------*/
    var vueData3 = {};
    var app3 = new Vue({
        el: '#aui-tab-3',
        data: vueData3,
        methods: {
            CloseWin: function() {
                api.confirm( {
                    title: '注意',
                    msg: '确认退出当前菜单？',
                    buttons: [ '确定', '取消' ]
                }, function ( ret, err ) {
                    if ( ret.buttonIndex == 1 ) {
                        api.closeWin();
                    }
                } )
            },
            submit: function () {
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '提交中...',
                    text: '请稍后...',
                    modal: true
                });
                var bill = vueData1.formData;
                var taskDetails = $('#bootstrap-tab-1').bootstrapTable('getData');
                var details = $('#bootstrap-tab-2').bootstrapTable('getData');
                var barCodes = $('#bootstrap-tab-3').bootstrapTable('getData');

                //step 1.准备bill
                bill.originBillGid = vueData1.formData.id;
                bill.originBillCode = vueData1.formData.code;
                delete bill["id"];

                //step 2.准备details
                for (var i = 0; i < details.length; i++) {
                    delete details[i]["barCode"];
                    // delete details[i]["lotCode2"];
                    // delete details[i]["uda2"];
                }
                for (var i in details) {
                    for (var j in details[i]) {
                        if (j == 'mrlCode') {
                            for (var k = 0; k < taskDetails.length; k++) {
                                //入库任务，没有批次号
                                if (details[i][j] == taskDetails[k].mrlCode) {
                                    details[i]['originDetailGid'] = taskDetails[k]['id'];
                                    break;
                                }
                            }
                        }
                        if (j == 'rowId') {
                            details[i]['id'] = details[i][j];
                            delete details[i]["rowId"];
                        }
                    }
                }

                //step 3.准备barCodes
                for (var i = 0; i < barCodes.length; i++) {
                    delete barCodes[i]["lotCode"];
                    delete barCodes[i]["workCellCode"];
                    // delete barCodes[i]["areaName"];
                    // delete barCodes[i]["subAreaName"];
                }
                for (var i in barCodes) {
                    for (var j in barCodes[i]) {
                        if (j == 'rowPid') {
                            barCodes[i]['arrivalBillDetailGid'] = barCodes[i][j];
                            delete barCodes[i]['rowPid']
                        }
                        // if (j == 'uda2') {
                        //     barCodes[i]['uda2'] = barCodes[i][j].replace(/-/g, '');
                        // }
                    }
                }

                // step 4.是否允许超任务入库
                var isBeyondInstore = false;
                for (var x = 0; x < taskDetails.length; x++) {
                    if (parseInt(taskDetails[x].completeQty) > parseInt(taskDetails[x].remainQty)) {
                        isBeyondInstore = true;
                        break;
                    }
                }
                if (isBeyondInstore) {
                    api.confirm({
                        title: '提示',
                        msg: '是否超任务入库？',
                        buttons: ['确定', '取消']
                    }, function (ret) {
                        if (ret.buttonIndex == 1) {
                            submit(pageConfig.targetBusinessType, bill, details, barCodes);
                        }
                    });
                }else {
                    submit(pageConfig.targetBusinessType, bill, details, barCodes);
                }
            }
        }
    })
</script>

</html>
